/* Planet Uranus - https://www.cursors-4u.com/cursor/planet-uranus */
* {                  
    font-family: 'Geist Pixel', 'Courier New';
    cursor: url('https://cdn.cursors-4u.net/previews/planet-uranus-57859afa-32.webp') 32 32, auto !important;
    scroll-behavior: smooth;
}

body {
    background-color:rgb(0, 0, 0);
    color: azure;
    font-family: "courier new";
    padding: 3em;
}

h1, h2, p {
    text-align: center;
}

h1:hover, h2:hover {
    color:rgb(109, 177, 241);
}

strong:hover {
    color:rgb(109, 177, 241);
}

img {
    width: 30vh;
    height: 30vh;
    padding: 3% 3%;
    display: block;
    margin: auto;
    margin-bottom: 20vh;
}

hr {
    margin-bottom: 10vh;
    background-color: black;
    height: 0;
    border: none;
}

/** scrollbar **/

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: black;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: rgb(26, 82, 136);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(109, 177, 241);
}

/** nav bar **/

nav {
    width: 80%;
    margin: auto;
    margin-bottom: 60px;  
}

.directory {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.directory li a {
    position: relative;
    text-decoration: none;
    color: rgb(109, 177, 241);
}

.directory li a:hover {
    text-decoration: underline;
}

/* dropdown */

details {
    text-align: center;
    font-style: italic;
}

summary {
    margin-bottom: 1em;
}

summary:hover {
    color:rgb(109, 177, 241);
}

/** links */ 

.contact-links {
    color: rgb(109, 177, 241);
    text-decoration: none;
    text-align: center;
    margin: 5% 0;
    font-style: normal;
}

#code-link {
    display: block;
    margin-bottom: 0;
    margin-top: 2vh;
}

#guestbook {
    margin-bottom: 5vh;
}

a:hover {
    text-decoration: underline;
}

/* blurbs */
.blurb {
    margin-bottom: 20vh;
}

.blurb p {
    font-style: italic;
}

h2 {
    font-style: normal;
}

.interest-image {
    display: inline;
    width: 15%;
    height: 10%;
    margin: unset;
} 

.image-container {
    display: flex;
    justify-content: center;
}

.blurb:last-of-type {
    margin-bottom: 5vh;
}

/* music player */

#music-player {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
}

#music-controls {
    margin: 20px;
}

#music-controls i {
    padding: 1em;
}

#song-name, #song-artist {
    margin-bottom: 2vh;
}

#slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40vh;
    background-color: white;
    height: 2px;
    border: 1px solid white;
    border-radius: 4px;
    accent-color: white;
}

#slider:hover, #prev-song:hover, #next-song:hover, #play-song:hover {
    accent-color: rgb(109, 177, 241);
    color: rgb(109, 177, 241);
}

.tracklist option {
    margin-bottom: 2vh;
}

.tracklist {
    margin-bottom: 20vh;
}