body {
    background-color:rgb(0, 0, 0);
    color: azure;
    font-family: "courier new";
}

h1, h2 {
    text-align: center;
}

h1:hover, h2:hover {
    color:rgb(109, 177, 241);
}

img {
    width: 80%;
    height: 80%;
    padding: 3% 3%;
}

/* about blurb */
/* figure out how to make blurbs ALIGNED next to each other */
/* figure out border-left or bottom */

#about-container {
    background-color: black;
    padding: 2% 2%;
}

#about-text {
    display: inline-block;
    padding: 3%;
    width: 45%;
    height: 45%;
}

#about-image {
    display: inline-block;
    width: 45%;
    height: 45%;
}

